@use '../global';
@use '../utils/variables' as var;

main {
    background-image: url(../../images/about-us/about-us\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .serving__world {
        min-height: 60vh;
        padding-top: 150px;
        width: 100%;
        .serving__world-p {
            font-weight: 700;
            font-size: var.$h6;
            color: var.$black;
        }
    }
}
