@use '../global';
@use '../utils/variables' as var;
@use '../base/typography';
@use "../utils/mixin" as mixin;

main {
    .serving__world {
        min-height: 60vh;
        padding-top: 150px;
        padding-bottom: 150px;
        width: 100%;
        background-image: url(../../images/about-us/about-us\ bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        @media (max-width: 1000px) {
            & {
                text-align: center;
            }
            .serving__world-p {
                padding-right: 110px;
            }
            .serving__world-h1 {
                padding-right: 110px;
            }
        }
        .serving__world-p {
            font-weight: 700;
            font-size: var.$h6;
            color: var.$black;
            padding-left: 110px;
        }
        .serving__world-h1 {
            font-weight: 700;
            font-size: var.$h1;
            padding-top: 15px;
            padding-left: 110px;
            color: var.$black;
        }
    }
    .love__compassion {
        padding-top: 150px;
        padding-bottom: 150px;
        background-color: rgb(254, 254, 254); 
        body.dark &{background-color: var.$black-header;}
        min-height: 100vh;
        width: 100%;
        text-transform: uppercase;
        font-family: "roboto condensed";
        &-content {
            @media (max-width: 1000px) {
                text-align: center;
                width: 100%;
            }
            text-align: center;
            &-p {
                font-weight: 700;
                font-size: var.$h6;
                padding-bottom: 15px;
                color: var.$black; body.dark &{color: var.$white;};
            }
            &-h1 {
                font-family: 700;
                font-size: var.$h1;
                color: var.$black; body.dark &{color: var.$white;};
                padding-bottom: 30px;
            }
            &-p2 {
                font-weight: 400;
                font-size: var.$h6;
                color: var.$black; body.dark &{color: var.$white;};
                padding-bottom: 45px;
            }
        }
        &-images {
            @include mixin.df(center, center, row);
            padding-bottom: 60px;
            flex-wrap: wrap;
            img{
                width: calc(100% / 3 - 5rem);
                min-width: 250px;
                flex-grow: 1;
                @media (max-width: 1000px) {
                    width: calc(100% / 3 - 1rem);
                }
                margin: .5rem;
                height: 384px;
                transition: .3s linear;
                -webkit-transition: .3s linear;
                -moz-transition: .3s linear;
                -ms-transition: .3s linear;
                -o-transition: .3s linear;
                &:hover{
                    width: calc(100% / 3);
                    height: 500px;
                    @media (max-width: 855px) {
                        width: calc(100% / 3 - 1rem) !important;
                        height: 384px !important;
                    }
                }
            }
        }
        &-articles {
            width: 100%;
            @media (max-width: 600px) {
                .love__compassion-article:first-child {
                    padding-bottom: 50px;
                }
                flex-direction: column;
                text-align: center;
                width: 100%;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            .love__compassion-article {
                width: 36%;
                margin-left: 40px;
                margin-right: 40px;
                @media (max-width: 600px) {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
                &-p {
                    font-weight: 400;
                    font-size: var.$h6;
                    color: var.$black; body.dark &{color: var.$white;};
                    padding-bottom: 15px;
                }
                &-h1 {
                    font-weight: 700;
                    color: var.$black; body.dark &{color: var.$white;};
                    font-size: var.$h4;
                    padding-bottom: 15px;
                }
                &-p2 {
                    font-weight: 400;
                    font-size: var.$h6;
                    color: var.$black; body.dark &{color: var.$white;};
                }
            }
        }
    }
    .benefits {
        background-color: rgb(254, 254, 254); body.dark &{background-color: var.$black-header;}
        body.dark{
            background-color: var.$black;
        }
        @media (max-width: 900px) {
            .benefits__content {
                text-align: center;
            }
            .benefits__content:first-child, .benefits__content:nth-child(3) {
                padding-bottom: 50px;
            }
            .benefits__rows-row {
                &-content {
                    width: 120%;
                }
                &-img {
                    width: 500px;
                }
                &-content:nth-child(2), &-content:last-child {
                    padding-right: 90px;
                }
                &-content:first-child, &-content:nth-child(3) {
                    padding-left: 90px;
                }
                flex-direction: column;
            }
        }
        @media (max-width: 550px) {
            .benefits__rows-row-img {
                display: none;
            }
        }
        width: 100%;
        min-height: 200vh;
        font-family: 'roboto condensed';
        text-transform: uppercase;
        &__content {
            &-p {
                font-weight: 400;
                font-size: var.$h6;
                text-align: center;
                color: var.$black; body.dark &{color: var.$white;};
                padding-bottom: 15px;
            }
            &-h1 {
                font-size: var.$h2;
                color: var.$black; body.dark &{color: var.$white;};
                font-weight: 700;
                text-align: center;
                padding-bottom: 65px;
            }
        }
        &__rows {
            &-row {
                @include mixin.df(center, center, row);
                padding-bottom: 100px;
                &-content {
                    width: 45%;
                    &-h2 {
                        font-weight: 700;
                        font-size: var.$h4;
                        color: var.$black; body.dark &{color: var.$white;};
                        padding-bottom: 15px;
                    }
                    &-p {
                        font-weight: 400;
                        font-size: var.$h6;
                        color: var.$black; body.dark &{color: var.$white;};
                    }
                }
                &-content:nth-child(2), &-content:last-child {
                    padding-left: 90px;
                }
                &-content:first-child, &-content:nth-child(3) {
                    padding-right: 90px;
                }
            }
        }
    }
    .our__team {
        width: 100%;
        font-family: 'roboto condensed';
        min-height: 85vh;
        text-transform: uppercase;
        &-content {
            text-align: center;
            &-p {
                font-weight: 400;
                font-size: var.$h6;
                color: var.$black;
                padding-bottom: 15px;
            }
            &-h1 {
                font-weight: 700;
                color: var.$black;
                font-size: var.$h1;
                padding-bottom: 60px;
            }
        }
        &-rows {
            width: 100%;
            @media (max-width: 1250px) {
                flex-direction: column;
                flex-flow: wrap;
                text-align: center;
                justify-content: space-around;
                &-row {
                    margin-bottom: 50px;
                }
            }
            @include mixin.df(space-between, center, row);
            &-row {
                background-color: var.$grey;
                padding: 70px 60px;
                text-align: center;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                &-h2 {
                    transition: 0.5s;
                    font-weight: 700;
                    font-size: var.$h5;
                    color: var.$black;
                    margin-top: 20px;
                }
                &-h3 {
                    transition: 0.5s;
                    font-weight: 400;
                    font-size: var.$h6;
                    color: var.$black;
                    margin-top: 10px;
                }
                i {
                    transition: 0.5s;
                    margin-top: 15px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
            &-row:hover {
                background-color: var.$primary-color;
                h2, h3, i {
                    color: var.$white;
                }
            }
        }
    }
}