@use '../global';
@use '../components/top-sermon';
@use '../base/typography';
@use '../layout/container' as cont ;
@use '../utils/mixin' as var;
@use '../utils/variables' as colors;

main{
    background: #E5E5E5;
    padding: 128px 0px;

    .recent_post{
   @include var.containerg;
   align-items: center;
   
   
   &_header{
    margin-bottom: 64px;
    h4{
        @include var.title(700, 16px, 18.5px, #232536);
        padding-bottom: 16px;
        font-family: 'Roboto Condensed';
        text-align: center;
    }

    h2{
        @include var.title-3;
        font-family: 'Roboto Condensed';
        transition: 0.5s;
        
    }
    h2:hover{
        font-size: 44px;
    }
   }
   .recent_post_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    padding: 56px;
    .content_right{
        display: flex;
        padding-right: 48px;
        img{
           // min-width: 250px;
            width: 100%;
        }
    }
    .content_left{
        display: flex;
        flex-direction: column;
       max-width: 520px;
        &_date{
            display: flex;
            justify-content: space-between;
            padding-bottom: 12px;
            max-width: 469px;
             h5{
                @include var.title(400, 16px, 19px, colors.$black);
                opacity: 0.8;
                
                
             }
        }
        &_header{
            
            h4{
            @include var.title-4;
            letter-spacing: -0.01em;
            padding-bottom: 16px;
            
            
        }
        }
        &_text{
            p{
                @include var.title-6;
                text-transform: none;
                opacity: 0.8;
            }
            padding-bottom: 32px;
        }
        &_btn{
            button {
                @include var.primary-btn($padding: 24px 64px);
                a{
                    color: colors.$black;
                    transition: 0.5s;
                }

            }
            button:hover{
                a{
                    font-size: larger;
                }
            }  
        }
    }
   }
}
}

.all_posts{
    @include var.containerg;
    align-items: center;
    margin-top: 128px;
    &_header{
        padding-bottom: 64px;

        h2{
            @include var.title-2;
            letter-spacing: -0.01em;
            transition: 0.5s;
        } 

        h2:hover{
                transform: matrix(1, 0, 1, 0, 1, 0);
    
        }
    }

    .all_posts_blog{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        .blog_content{
           
            background: #FFFFFF;
            padding: 48px 32px;
            transition: 0.8s;

            .relationship{
                @include var.title(700, 12px, 14px);
                background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
               color: transparent;
               padding-bottom: 16px;
            }
            h5{
                @include var.title-5;
                letter-spacing: -0.01em;
                padding-bottom: 16px;
            }
            .text{
                @include var.title(400, 16px, 24px);
                opacity: 0.78;
                text-transform: none; 
                padding-bottom: 48px;
            }

            h6{
                @include var.title-6;
                line-height: 24px;
            }

            
        }
        .blog_content:hover{
            background: #FFD0A0;
            transform: matrix(1, 0, 0, -1, 0, 1);

        }


        
    }
}


@media (max-width:900px) {
    main .recent_post .recent_post_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        
    }

    .all_posts .all_posts_blog {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (max-width:650px) {
    

    .all_posts .all_posts_blog {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width:550px) {
    
    main .recent_post .recent_post_content {
        padding: 10px;
    }
}

@media (max-width:450px) {
    main .recent_post .recent_post_content .content_left_header h4{
        font-size: 20px;
    }

    main .recent_post .recent_post_content .content_right{
        padding-right: 10px;
    }

    .all_posts .all_posts_blog {
        grid-template-columns: 1fr;
    }
    
}

@media (max-width:400px){
    .all_posts h2, main .recent_post_header h2{
        font-size: 30px;
        text-align: center;
    }

}